// .mat-toolbar{
//     background-color: #e4635a;
//     display:flex;
//     flex-direction: row;

// }

// .title{
//     display:flex;
// }

// h1{
//     padding: 2px;
// }


.mat-toolbar{
    background-color: #e4635a;
    border: 2px solid black;

}

span{
    padding: 2px;
}

.example-spacer {
    flex: 1 1 auto;
  }
